*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}


body{
    background:#E0F2F1;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}


.container{
    width:430px;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 5px 12px rgba(0,0,0,0.2);
}


h2{
    text-align:center;
    color:#00695C;
    margin-bottom:20px;
}


label{
    display:block;
    margin-top:12px;
    margin-bottom:5px;
    font-weight:bold;
}


input,
textarea{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}


.gender{
    margin-top:10px;
}


.gender input{
    width:auto;
}


input[type=submit]{
    background:#00695C;
    color:white;
    border:none;
    margin-top:20px;
    cursor:pointer;
    font-size:16px;
}


input[type=submit]:hover{
    background:#004D40;
}


@media(max-width:500px){


.container{
    width:90%;
}


}